.text
  %p 
    = I18n.t(:p1)
  %p 
    = I18n.t(:p2_1)
    = link_to 'Héctor Miguel Risso', data.urls.risso_linkedin, :target => 'blank'
    = I18n.t(:and)
    = link_to 'Jorge Alfredo Kenny', data.urls.kenny_linkedin, :target => 'blank'
    = I18n.t(:p2_2)
  %p 
    = I18n.t(:p3)
    

