= partial 'partials/home'
%section.contact
  .center-column
    = partial 'partials/logo'
    = partial 'partials/lang-switch'
    = partial 'partials/text'
    = partial 'partials/customers'
    = partial 'partials/address'
    = partial 'partials/phones'
    = partial 'partials/email'
